@page "/account"
@using CPUMeasurementFrontend.Data

@inject NavigationManager navigationManager

@inject AccountService  _accountService

@code {
    
    private DateTime _date = DateTime.Now;

    protected override async Task OnInitializedAsync()
    {
        if (!_accountService.IsLoggedIn())
        { 
            navigationManager.NavigateTo("login", true);
        }
    }
}
<h1>Account</h1>
