CPUMeasurementService/bin/
CPUMeasurementService/obj/
CPUMeasurementBackend/bin/
CPUMeasurementBackend/obj/
CPUMeasurementBackend/appsettings.json
CPUMeasurementBackend/cpumeasurementbackend.log
CPUMeasurementBackend/cpumeasurementlistener.log
CPUMeasurementFrontend/bin/
CPUMeasurementFrontend/obj/
CPUMeasurementFrontend/appsettings.json
CPUMeasurementFrontend/cpumeasurementfrontend.log
CPUMeasurementCommon/bin/
CPUMeasurementCommon/obj/
CPUMeasurementDatabase/bin/
CPUMeasurementDatabase/obj/
.vs/CPUMeasurementDatabase/CPUMeasurementDatabase.dbmdl
CPUMeasurementDatabase/CPUMeasurementDatabase.dbmdl
CPUMeasurementService/Properties/PublishProfiles
CPUMeasurementBackend/Properties/PublishProfiles/FolderProfile.pubxml
CPUMeasurementBackend/Properties/PublishProfiles/FolderProfile.pubxml.user
CPUMeasurementBackend/Properties/PublishProfiles/Local Folder Publish.pubxml
*.ide-wal
*.jfm
CPUMeasurementDatabase/CPUMeasurementDatabase.jfm
.vs/CPUMeasurement/v16/Server/sqlite3/storage.ide-wal
.vs/CPUMeasurement/v16/Server/sqlite3/storage.ide-shm
.vs/CPUMeasurement/v16/Server/sqlite3/storage.ide
.vs/CPUMeasurement/v16/.suo
.vs/CPUMeasurement/DesignTimeBuild/.dtbcache
.vs/CPUMeasurement/DesignTimeBuild/.dtbcache
.vs/CPUMeasurement/v16/.suo
.vs/CPUMeasurement/v16/Server/sqlite3/storage.ide
.vs/CPUMeasurement/v16/Server/sqlite3/storage.ide-shm
.vs/CPUMeasurement/v16/Server/sqlite3/storage.ide-wal
CPUMeasurementDatabase/CPUMeasurementDatabase.jfm
CPUMeasurementDatabase/CPUMeasurementDatabase.jfm
CPUMeasurementDatabase/CPUMeasurementDatabase.jfm
.vs/CPUMeasurement/v16/.suo
