CPUMeasurementService/bin/
CPUMeasurementService/obj/
CPUMeasurementBackend/bin/
CPUMeasurementBackend/obj/
CPUMeasurementBackend/appsettings.json
CPUMeasurementFrontend/bin/
CPUMeasurementFrontend/obj/
CPUMeasurementFrontend/appsettings.json
CPUMeasurementCommon/bin/
CPUMeasurementCommon/obj/
.vs/
/CPUMeasurementService/Properties/PublishProfiles
/CPUMeasurementBackend/Properties/PublishProfiles/FolderProfile.pubxml
/CPUMeasurementBackend/Properties/PublishProfiles/FolderProfile.pubxml.user
/CPUMeasurementBackend/Properties/PublishProfiles/Local Folder Publish.pubxml
