CPUMeasurementService/bin/
CPUMeasurementService/obj/
CPUMeasurementBackend/bin/
CPUMeasurementBackend/obj/
CPUMeasurementFrontend/bin/
CPUMeasurementFrontend/obj/
CPUMeasurementCore/bin/
CPUMeasurementCore/obj/
CPUMeasurementCommon/bin/
CPUMeasurementCommon/obj/
.vs/
/CPUMeasurementService/Properties/PublishProfiles
/CPUMeasurementBackend/Properties/PublishProfiles/FolderProfile.pubxml
/CPUMeasurementBackend/Properties/PublishProfiles/FolderProfile.pubxml.user
